<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Только debug: экран журнала BLE-обмена. -->
        <activity
            android:name=".debug.JournalActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <!-- Только debug: команды виртуальным весам из терминала (tools/dev.sh sim). -->
        <receiver
            android:name=".debug.SimControlReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="dev.openscales.SIM" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
